tooltip {
    background: @main-bg;
    border: solid;
    border-width: 1.5px;
    border-radius: 8px;
    border-color: @main-br;
}

tooltip label {
    color: @main-fg;
    font-weight: normal;
    margin: 0.25px;
}