[Unit]
Description=Sync remote folders using rclone
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=%h/dotfiles/utils/scripts/remote-sync-rclone.sh
ExecStop=%h/dotfiles/utils/scripts/remote-sync-rclone.sh

[Install]
WantedBy=default.target
